.alertHeading {
    font-size: 1.1em !important;
    font-weight: bold !important;
    margin-bottom: 1% !important;
}

.alertPoster {
    margin-bottom: 2%;
    font-size: 0.75em !important;
    color: rgba(0,0,0,0.6)
}